.image-upload-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.blog-editor-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .image-upload-container {
    display: none;
  }
}

@media (min-width: 768px) {
  .upload-image-button-mobile {
    display: none;
  }
  .image-selector-mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .blog-editor-buttons {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .blog-editor-buttons {
    gap: 45px;
  }
}
