* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  line-height: 2;
}

body {
  background-color: #151533 !important;
  font-family: "Open Sans" !important;
  margin: 0;
  color: white !important;
  padding: 10px;
}
